
* {
    margin: 0;
    padding: 0;
}
:root{
    --cor1: #000000;
    --cor1t: #00000094;
    --cor2: #ffffff;
    --cor2t: #ffffff41;
    --cor3: #ff6600;
    --cor3t: #ff66003f;
    --cor4: #989898;
    --cor5: #3B3B3B;
    --cor4t:#000000e7;
    --cor5t:#636363a1;

    --font1:'Times New Roman', Times, serif;

    --tFontA1: 70px;
    --tFontA2: 40px;
    --tFontA3: 30px;
    --tFontA4: 20px;
    --tFontA5: 16px;
    --tFontA6: 14px;
    
    --hHeader1: 60px;

    --tWidth1:800px;
    --tWidth2:600px;
    --tWidth3:500px;
}

@media(max-width:600px) {
    :root{
        --tFontA1: 49px;
        --tFontA2: 29px;
        --tFontA3: 22px;
        --tFontA4: 13px;
        --tFontA5: 12px;
        --tFontA6: 10px;  
    }
}
@media(max-width:800px) {
    :root{
        --hHeader1: 85px;
    }
}
html{   
    min-width: 300px;
}
body{
    background-color: var(--cor1);
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
}
main{
    width: 100%;
}
main section{
    margin-top: 2vh;
    width: 100%;
    border-radius: 10px;
}
.linha{
    text-align: center;
    animation-name: anime2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    font-size: var(--tFontA2);
    line-height: 2vh;
    height: 4vh;
}
footer{
    width: 100%;
    margin-top: 3vh;
    display: flex;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
@keyframes anime2{
    
    to {color: rgb(255, 123, 0, .05);}
    from {color: rgb(255, 123, 0, 1);}

    
}